<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Lib output</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body style="display: flex;justify-content: center;align-items: center;height: 100vh;margin: 0;background-color:lightblue;text-align:center;">
    <form style="text-align: center;">
    <label style="display: block;margin-bottom: 5px;" ><%= madLib %></label>
    </form>
</body>
</html>
